nav{
    height: 10%;
    border:1px solid #dfdfdf;
}

.div-header {
    background-color: #1a1a1a;
    min-height: 5vh;
    display: flex;
    font-size: calc(10px + 2vmin);
    color: white;
    flex-direction: row;
    margin: 0 auto;
    align-items: center;
}

.div-items{
    display: flex;
    flex-direction: row;
    margin-left: auto; 
    margin-right: 0;
}

.logo-list{
    flex-direction:row;
    list-style-type: none;
}
.App-logo-small {
    margin: 5px 20px;
    height: 15vmin;
}
.list-text {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    color: #6bcf71;
}

.big-text{
    font-size: 28px;
}
.small-text{
    font-size: 16px;
}

.clearfix{
    clear:both;
}
.button-header{
    margin: 5px;
    margin-top:-10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    padding: 5px;
    background-color: #1a1a1a;
    font-weight: 10;
    border: none;
    color: #6bcf71;
    border-radius: none;
    cursor: pointer;
    float: right;
    align-self: flex-end;
}

.Welcome-user{
    padding: 10px; /* Remove padding */
    color: #6bcf71;
}


a {
    text-decoration:none;
}