button{
    width: 100%;
    margin: 5px 0;
    font-family: 'Open Sans', sans-serif;
    padding: 5px;
    background-color: #2941ab;
    font-weight: 600;
    border: none;
    color: white;
    border-radius: 5px;
}