.App {
}
  
.App-logo {
    height: 40vmin;
    pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 40s linear;
    }
}

.App-body {
    text-align: center;
    background-color: #2941ab;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}


.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.playlist{
           width: 20%;
           margin: 10px;
           margin-top: 30px;
           font-family: 'Open Sans', sans-serif;
           font-size: 20px;
           padding: 5px;
           background-color: #6bcf71;
           font-weight: 10;
           color: #2941ab;
           border-radius: 20px;
           cursor: pointer;
}