.deleteButton {
  background-color: #8B0000;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 8px;
  width: 100px;
}
.song {
    width: 560px;
}

#playlistTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#playlistTable td, #playlistTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#playlistTable tr:nth-child(even){
    background-color: #f2f2f2;
}

#playlistTable tr:hover {
    background-color: #ddd;
}

#playlistTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #000;
  color: white;
}

