.div-schedule{
    width: 100%;
    display: flex;
    flex-direction:row;
    /* padding: 0 10px;  */
    border: 2px solid #dbdbdb;
    border-radius: 5px;
    /* margin-bottom: 10px; */
    background-color:  white;
    color: black;
}

.div-text{
    width: 25%;
    display: flex;
    flex-direction:column;
    padding: 5px; 
    font-weight: bold;
}

.schedule-button {
    padding: 0px;
    background-color: white;
}

.schedule-button:focus {
    border-color:#4CAF50;
    outline-width: 3px;
    outline-style: solid;
    outline-color: #2941ab;
}

.schedule-button:hover {
    background-color: rgb(238, 234, 234);
    border-color:#4CAF50;
}