.div-available{
    width: 99.5%;
    display: flex;
    flex-direction: column;
}
.div-filter{
    width: 300px;    
    margin: 0 250px;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}