.popup {
  position: fixed;
  width: 100%;
  height: 150%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup-inner {
  position: absolute;
  left: 5%;
  right: 5%;
  top: 30%;
  bottom: 30%;
  margin: auto;
  border-radius: 1%;
  background: white;
  width: 50%;
  height: 600px;
}

.popupCloseButton {
  background-color: grey;
  /*float: right;*/
  border: none;
  color: white;
  padding: 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  margin: 3% 3%;
  cursor: pointer;
  border-radius: 8px;
  width: 25%;
  height: 30px;
}

.activityDropdown {
  font-size: 100%;
  margin-right: 100px;
}
.searchButton {
  background-color: #006400;
  /*float: right;*/
  border: none;
  color: white;
  padding: 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  margin: 3% 3%;
  cursor: pointer;
  border-radius: 8px;
  width: 25%;
  height:30px;
}
.recommendButton{
   background-color: blue;
  /*float: right;*/
  border: none;
  color: white;
  padding: 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  margin: 3% 3%;
  cursor: pointer;
  border-radius: 8px;
  width: 25%;
  height:30px;
}
.popupSearch{
    width:50%;
    margin: 0px 11px;
    height: 16px;
    font-size: 14px;

}

.song-list {
  float:center; 
  overflow: scroll;
  height: 75%;
}

th{
  position:sticky;
}

#playlistAddSongTable{
   background: white;
   width: 100px;
}

#playlistAddSongTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#playlistAddSongTable td, #playlistAddSongTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#playlistAddSongTable tr:nth-child(even){
    background-color: #f2f2f2;
}

#playlistAddSongTable tr:hover {
    background-color: #ddd;
}

#playlistAddSongTable th {
  padding-top: 4px;
  padding-bottom: 4px;
  width: 20px;
  text-align: left;
  background-color: #000;
  color: white;
}