.popup-name {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup-inner-name {
  position: absolute;
  left: 5%;
  right: 5%;
  top: 20%;
  bottom: 20%;
  margin: auto;
  border-radius: 1%;
  background: white;
  width: 600px;
  height: 300px;

}

.closeButton {
  background-color: grey;
  /*float: right;*/
  border: none;
  color: white;
  padding: 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  margin: 1% 1%;
  cursor: pointer;
  border-radius: 8px;
  width: 30%;
  margin-left: 5px;
  height: 30px;
}



.editPlaylistInput{
  width: 450px;
  margin-left:50px;
}

.submitButton{
  background-color: #006400;
    /*float: right;*/
    border: none;
    color: white;
    padding: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    margin: 1% 1%;
    cursor: pointer;
    border-radius: 8px;
    width: 20%;
    margin-left: 50px;
    height:30px;
    margin-top: 30px;
}
.closeButton1{
   background-color: grey;
     /*float: right;*/
     border: none;
     color: white;
     padding: 1px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 100%;
     margin: 1% 1%;
     cursor: pointer;
     border-radius: 8px;
      width: 20%;
      margin-left: 40px;
     height: 30px;
}