.playlistBorder {
       border-radius: 25px;
       border: 2px solid #73AD21;
       padding: 20px;
       width: 200px;
       height: 150px;
}

.addSongButton {
  background-color: #006400;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 8px;
  width: 400px;
  margin-left: 100px;
}

.delete-playlist-button{
  background-color: #8B0000;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-left: 500px;
    cursor: pointer;
    border-radius: 8px;
    width: 100px;
}
.edit-playlist-button{
  background-color: #006400;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-left: 500px;
    cursor: pointer;
    border-radius: 8px;
    width: 100px;
}

.searchInput{
  width:350px;
  margin-left : 20px;
  height: 40px;
  font-size:20px;
}

.searchButton123{
  width: 100px;
  margin-left: 30px;
  height: 40px;
}