.div-form{
    width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 20px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    padding: 20px;
    background-color: white;
}

.input-duration{
    width: 60px;
    height: 25px;
}
.fonts{
    font-weight: bold;
}
.small{
    width: 20px;
    height: 20px;
    margin: 5px 20px;
    padding: 0px;
    background-color: #6bcf71;
    border-radius: 100px;
}