.playlist-body {
    text-align: center;
}
.playlist-name {
        font-size: 30px;
        padding: 10px;
        font-weight: bold;

}
#playlistTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#playlistTable td, #playlistTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#playlistTable tr:nth-child(even){
    background-color: #f2f2f2;
}

#playlistTable tr:hover {
    background-color: #ddd;
}

#playlistTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
