.create-body{
    text-align: center;
    background-color: #0000;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* font-size: calc(10px + 2vmin); */
    margin: 20px;
    margin-left: 80px;
    margin-right: 80px;
}

.view {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;    
    border: 2px solid #4CAF50;
    border-radius: 5px;
}

.view-button {
    width: 100px;
    margin: 0 10px;
}