.div-event{
    width: 10%;
    display: flex;
    flex-direction:column;    
    padding:0 10px; 
    border: 2px solid #dbdbdb;
    border-radius: 5px;
    margin: 5px;
    background-color:  white;
    font-size: 13px;    
    align-items: center;
    justify-content: center;
}